<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Файл Шифрования</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-style">
            <div class="logo">
                <img src="{{ url_for('static', filename='anonymous.gif') }}" alt="Gif image">
            </div>
            <div class="title">IT ENERGY PLUS</div>
            <div class="logo">
                <img src="{{ url_for('static', filename='anonymous.gif') }}" alt="Gif image">
            </div>
        </div>
    </header>    

    <div class="form-container active" id="encryptionContainer">
        <form class="container" id="encryptionForm" enctype="multipart/form-data" method="post">
            <label for="method">Метод шифрования:</label>
            <select id="method" name="method" onchange="updateTooltip()">
    <option value="1">Ш4.1.2</option>
    <option value="2">Ш4.2.4</option>
    <option value="3">Ш4.2.5</option>
    <option value="4">Ш4.2.6</option>
    <option value="5">Ш4.3.1</option>
    <option value="6">Ш4.4.1</option>
    <option value="7">Ш4.3.2</option>
    <option value="8">Ш4.4.2</option>
    <option value="9">Ш4.4.3</option>
    <option value="10">Ш4.5.1</option>
    <option value="11">Ш4.6.1.1</option>
    <option value="12">Ш4.6.1.2</option>
    <option value="13">Ш4.6.1.3</option>
    <option value="14">Ш4.7.1</option>
    <option value="15">Ш4.6.2.1</option>
    <option value="16">Ш4.6.2.2</option>
    <option value="17">Ш4.6.2.3</option>
    <option value="18">Ш4.8.1.1</option>
    <option value="19">Ш4.8.1.2</option>
    <option value="20">Ш4.8.1.3</option>
    <option value="21">Ш4.8.2.1</option>
    <option value="22">Ш4.8.2.2</option>
    <option value="23">Ш4.8.2.3</option>
    <option value="24">Ш4.8.2.4</option>
</select>
            <span class="tooltip">❔
                <span id="tooltip-text" class="tooltip-text">Выберите метод шифрования для получения информации</span>
            </span>

            <label for="modulus">Модуль:</label>
            <select id="modulus" name="modulus">
                <option value="2">2</option>
                <option value="69">69</option>
            </select><br><br>

            <label for="file">Выберите файл:</label>
            <input type="file" id="file" name="file" required><br><br>

            <button type="button" onclick="encryptFile()">Зашифровать файл</button>
            <button type="button" onclick="downloadGamma()">Скачать гамму</button>
        </form>
    </div>

    <div class="form-container" id="decryptionContainer">
        <form class="container" id="decryptionForm" enctype="multipart/form-data" method="post">
            <label for="decryptFile">Выберите файл для дешифровки:</label>
            <input type="file" id="decryptFile" name="decryptFile" required><br><br>
        
            <label for="gammaFile">Выберите файл с гаммой:</label>
            <input type="file" id="gammaFile" name="gammaFile" required><br><br>
        
            <label>Есть ли байт длины?</label>
            <div class="radio-group">
                <input type="radio" id="lengthByteYes" name="lengthByte" value="yes" checked>
                <label for="lengthByteYes">Да</label>
                <input type="radio" id="lengthByteNo" name="lengthByte" value="no">
                <label for="lengthByteNo">Нет</label>
            </div>
            
            <label>Есть ли байт контрольной суммы?</label>
            <div class="radio-group">
                <input type="radio" id="checksumByteYes" name="checksumByte" value="yes" checked>
                <label for="checksumByteYes">Да</label>
                <input type="radio" id="checksumByteNo" name="checksumByte" value="no">
                <label for="checksumByteNo">Нет</label>
            </div>
            <br><br>
            <button type="button" onclick="decryptingFile()">Дешифровать файл</button>
        </form>
    </div>

    <div class="arrow" onclick="toggleForms()">Сменить режим</div> <!-- Стрелка для переключения форм -->
	
    <footer>
        <p>Все права защищены &copy; 2024</p>
        <a href="https://github.com/m1rby/encoderSite" target="_blank">GitHub</a>
    </footer>

    <script>
        function toggleForms() {
            const encryptionContainer = document.getElementById('encryptionContainer');
            const decryptionContainer = document.getElementById('decryptionContainer');

            if (encryptionContainer.classList.contains('active')) {
                encryptionContainer.classList.remove('active');
                decryptionContainer.classList.add('active');
            } else {
                decryptionContainer.classList.remove('active');
                encryptionContainer.classList.add('active');
            }
        }

        function decryptingFile() {
            console.log("Функция decryptFile вызвана"); // Лог для отладки
            const formData = new FormData(document.getElementById('decryptionForm'));

            fetch('/decrypt', {
                method: 'POST',
                body: formData
            })
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = 'decrypted_file';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(error => console.error('Ошибка при дешифровке файла:', error));
        }

        function encryptFile() {
            console.log("Функция encryptFile вызвана"); // Лог для отладки
            const formData = new FormData(document.getElementById('encryptionForm'));
            
            fetch('/encrypt', {
                method: 'POST',
                body: formData
            })
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = 'encrypted_file';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(error => console.error('Ошибка при шифровании файла:', error));
        }

        function downloadGamma() {
            console.log("Функция downloadGamma вызвана"); // Лог для отладки
            fetch('/download-gamma')
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = 'gamma.txt';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(error => console.error('Ошибка при загрузке гаммы:', error));
        }

        function updateTooltip() {
    const tooltipText = document.getElementById("tooltip-text");
    const method = document.getElementById("method").value;

    switch (method) {
         case "1":
        tooltipText.innerHTML = "Ш4.1.2: Метод с блоком 16 байт, модулем 69 и гаммой для латиницы или кириллицы.";
        break;
    case "2":
        tooltipText.innerHTML = "Ш4.2.4: Метод с метками по времени (секунды, день, неделя).";
        break;
    case "3":
        tooltipText.innerHTML = "Ш4.2.5: Метод с метками по времени (секунды, день, неделя) и контрольной суммой.";
        break;
    case "4":
        tooltipText.innerHTML = "Ш4.2.6: Метод с метками по времени (секунды, день, неделя) и открытой длиной.";
        break;
    case "5":
        tooltipText.innerHTML = "Ш4.3.1: Метод с полем длины открытого текста.";
        break;
    case "6":
        tooltipText.innerHTML = "Ш4.4.1: Метод с полем контрольной суммы.";
        break;
    case "7":
        tooltipText.innerHTML = "Ш4.3.2: Метод с полем длины открытого текста.";
        break;
    case "8":
        tooltipText.innerHTML = "Ш4.4.2: Метод с полем контрольной суммы.";
        break;
    case "9":
        tooltipText.innerHTML = "Ш4.4.3: Метод с дополнительным полем контрольной суммы.";
        break;
    case "10":
        tooltipText.innerHTML = "Ш4.5.1: Метод с маркантом, зависящим от секунд, и полем длины.";
        break;
    case "11":
        tooltipText.innerHTML = "Ш4.6.1.1: Метод с контрольной суммой, не зависящей от времени.";
        break;
    case "12":
        tooltipText.innerHTML = "Ш4.6.1.2: Метод с маркантом, не зависящим от времени.";
        break;
    case "13":
        tooltipText.innerHTML = "Ш4.6.1.3: Метод с маркантом и контрольной суммой.";
        break;
    case "14":
        tooltipText.innerHTML = "Ш4.7.1: Метод с полем длины открытого текста и контрольной суммой.";
        break;
    case "15":
        tooltipText.innerHTML = "Ш4.6.2.1: Метод с контрольной суммой, зависящей от времени.";
        break;
    case "16":
        tooltipText.innerHTML = "Ш4.6.2.2: Метод с контрольной суммой и маркантом.";
        break;
    case "17":
        tooltipText.innerHTML = "Ш4.6.2.3: Метод с маркантом и контрольной суммой, зависящей от времени.";
        break;
    case "18":
        tooltipText.innerHTML = "Ш4.8.1.1: Метод с полем длины и контрольной суммой, не зависящей от времени.";
        break;
    case "19":
        tooltipText.innerHTML = "Ш4.8.1.2: Метод с полем длины и контрольной суммой, с маркантом, не зависящим от времени.";
        break;
    case "20":
        tooltipText.innerHTML = "Ш4.8.1.3: Метод с полем длины и контрольной суммой, с маркантом.";
        break;
    case "21":
        tooltipText.innerHTML = "Ш4.8.2.1: Метод с полем длины и контрольной суммой, зависящей от времени.";
        break;
    case "22":
        tooltipText.innerHTML = "Ш4.8.2.2: Метод с маркантом, полем длины и контрольной суммой, зависящей от времени.";
        break;
    case "23":
        tooltipText.innerHTML = "Ш4.8.2.3: Метод с полем длины и контрольной суммой, зависящей от времени.";
        break;
    case "24":
        tooltipText.innerHTML = "Ш4.8.2.4: Метод с полем длины, маркантом и контрольной суммой, зависящей от времени.";
        break;
        default:
            tooltipText.innerHTML = "Ш4.1.2: Метод с блоком 16 байт, модулем 69 и гаммой для латиницы или кириллицы.";
    }
}
// Добавляем обработчики событий для показа и скрытия подсказки
document.querySelector('.tooltip').addEventListener('mouseenter', () => {
    document.getElementById("tooltip-text").style.display = 'block';
});

document.querySelector('.tooltip').addEventListener('mouseleave', () => {
    document.getElementById("tooltip-text").style.display = 'none';
});


    </script>
   
</body>
</html>